# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/
.venv/

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yaml

# Ignore git files
.git
.gitignore

# Ignore media files
**/*.mp3
**/*.mp4
**/*.wav