body {
    font-family: 'Lato', sans-serif;
    background-color: gainsboro;
    align-content: center;
    text-align: center;
}

#fileInput.dragging {
    border: 2px dashed #000;
    background-color: #f0f0f0;
}

#fileInput {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.3s, border 0.3s;
}