<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>musicVideoGenerator</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <style>
        .dragging {
            border: 2px dashed #000;
        }
    </style>
</head>
<body>
    <h1>musicVideoGenerator <small>v2.0</small></h1>
    <div id="content">
        <form id="uploadForm" enctype="multipart/form-data">
            <label for="fileInput" class="fileInputLabel" id="fileInputLabel">
                <button id="selectFileBtn">bestand kiezen</button>
                <div>geen bestand gekozen</div>
                <input type="file" id="fileInput" name="file" multiple>
            </label>
            <br>
            <button type="submit" id="uploadButton">Upload</button>
        </form>
        <div id="progress">
            <progress id="uploadProgress" value="0" max="100" style="color: green;"></progress>
            <div id="progressDiv">Setting up</div>
        </div>
        
        <script>
            const socket = io();
            
            const uploadForm = document.getElementById('uploadForm');
            const fileInput = document.getElementById('fileInput');
            const fileInputLabel = document.getElementById('fileInputLabel');
            const progress = document.getElementById('progress');
            
            uploadForm.addEventListener('submit', function(event) {
                event.preventDefault();
                const files = fileInput.files;
                if (files.length === 0) {
                    alert('Please select a file!');
                    return;
                }
                const formData = new FormData();
                for (let i = 0; i < files.length; i++) {
                    formData.append('files[]', files[i]);
                }
                
                uploadForm.style.display = 'none';
                progress.style.display = 'block';
                
                fetch('/upload', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    } else {
                        return response.json();
                    }
                    document.getElementById('content').style.display = 'none';
                    document.getElementById('thankyou').style.display = 'block';
                })
            });
            
            fileInputLabel.addEventListener('dragover', function(event) {
                event.preventDefault();
                event.stopPropagation();
                fileInputLabel.classList.add('dragging');
            });
            
            fileInputLabel.addEventListener('dragleave', function(event) {
                event.preventDefault();
                event.stopPropagation();
                fileInputLabel.classList.remove('dragging');
            });
            
            fileInputLabel.addEventListener('drop', function(event) {
                event.preventDefault();
                event.stopPropagation();
                fileInputLabel.classList.remove('dragging');
                
                const files = event.dataTransfer.files;
                fileInput.files = files;
                
                const fileName = files.length > 0 ? files[0].name : 'geen bestand gekozen';
                fileInputLabel.querySelector('div').innerText = fileName;
            });
            
            const selectFileBtn = document.getElementById('selectFileBtn');
            
            selectFileBtn.addEventListener('click', function(event) {
                event.preventDefault();
                fileInput.click();
            });
            
            fileInput.addEventListener('change', function() {
                const fileName = fileInput.files.length > 0 ? fileInput.files[0].name : 'geen bestand gekozen';
                fileInputLabel.querySelector('div').innerText = fileName;
            });
            
            socket.on('progress', function(data) {
                const progress = document.getElementById('uploadProgress');
                const progressDiv = document.getElementById('progressDiv');
                
                document.getElementById("progress").style.display = 'block';
                                
                progress.value = Math.round((data.progress / data.total) * 100);
                
                progressDiv.innerText = data.name + " " + progress.value + '%';
            });

            socket.on("done", function(data) {
                document.getElementById('content').style.display = 'none';
                document.getElementById('thankyou').style.display = 'block';
                window.location.href = data.url;
                // console.log(data.url);
            });
            </script>
    </div>
    <div id="thankyou" style="display: none;">
        <h2>Thanks for using musicVideoGenerator!</h2>
        <p><small>created by Sam Vandenabeele, hosted by bytebite</small></p>
        <button id="continue">continue</button>
    </div>
    <script>
        button = document.getElementById('continue');
        button.addEventListener('click', function() {
            window.location.href = '/';
        });
    </script>
</body>
</html>