<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div>testtest</div>
    <button id="btn_test">test</button>

    <script>
        document.getElementById('btn_test').addEventListener('click', function() {
            fetch('/test', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ data: 1 })
                
            })
        });

        socket = io();
        socket.on('response', function() {
            console.log('server responded from thread');
        });
    </script>
</body>
</html>